.tab-pane canvas {
    width: 100% !important;
    max-height: 300px;
}

/* 카드 간격 */
.card {
    margin-bottom: 1rem;
    box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
}

.card-header {
    padding: 1.5rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 0 solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
    border-radius: 1rem 1rem 0 0;
}

.card-header-tabs {
    margin-right: -0.5rem;
    margin-bottom: -0.5rem;
    margin-left: -0.5rem;
    border-bottom: 0;
}

.card-header-pills {
    margin-right: -0.5rem;
    margin-left: -0.5rem;
}

.table thead th {
    padding: 0.75rem 1.5rem;
    background-color: #fff;
    color: #6c757d;
    font-weight: 600;
    border-bottom: 1px solid #dee2e6; /* 하나만 남김 */
    text-transform: uppercase; /* 대문자 느낌 유지 */
    font-size: 0.75rem;
    letter-spacing: 0;
}

.table {
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
}

.table tbody tr {
    background-color: #ffff;
}

/*관리자 버튼 모음*/
.btn-success{
    background-color: var(--color-point);
    color: var(--color-black);
    border: none;
}
.btn-success:hover,
.btn-success:hover:active {
    background-color: #eac341;
    box-shadow: 0 2px 5px rgba(255,216,77,0.25);
}
.btn-primary{
    background-color: var(--color-main);
    color: var(--color-white);
    border-color: #14a7b9;
    max-width: 200px;
}
.btn-primary:hover{
    background-color: #14a7b9;
    color: var(--color-white);
    box-shadow: 0 2px 5px rgba(23,180,199,0.25);
    border-color: #14a7b9;
}
#editBtn{
    background-color: var(--color-main);
    color: var(--color-white);
    border-color: #14a7b9;
}
#editBtn:hover{
    background-color: #14a7b9;
    color: var(--color-white);
    box-shadow: 0 2px 5px rgba(23,180,199,0.25);
    border-color: #14a7b9;
}
#deleteBtn{
    background-color: var(--color-white);
    color: var(--color-main);
    border: 1px solid #17b4c7;
}
#deleteBtn:hover{
    background-color: var(--color-main);
    color: var(--color-white);
    box-shadow: 0 2px 5px rgba(23,180,199,0.1);
}
.btn-danger{
    background-color: var(--color-white);
    color: var(--color-main);
    border: 1px solid #17b4c7;
}
.btn-danger:hover{
    background-color: var(--color-main);
    color: var(--color-white);
    box-shadow: 0 2px 5px rgba(23,180,199,0.1);
    border-color: #14a7b9;
}

.text-truncate{
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-width: 400px;
}
.text-truncate-notice{
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-width: 650px;
}