/*for lecture search*/
label {
    white-space: nowrap;
}

#search{
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.nav-pills .nav-link.active {
    background-color: #14a7b9;
    color: #fff;
    border-radius: 50px;
}
.form-section {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    padding: 30px;
    border: 1px solid #dee2e6;;
}
/*lecture edit thumbnail*/
#uploadThumbnailBtn{
    background-color: var(--color-white);
    color: var(--color-main);
    border: 1px solid #17b4c7;
}
#uploadThumbnailBtn:hover{
    background-color: var(--color-main);
    color: var(--color-white);
    box-shadow: 0 2px 5px rgba(23,180,199,0.1);
}
#lectureThumbnailPreview{
    width: 180px;
    height: 100px;
    object-fit: cover;
}
.badge {
    display: inline-block;
    padding: 4px 10px;        /* 여백 적당하게 */
    font-size: 0.75rem;       /* 가독성 좋은 사이즈 */
    font-weight: 600;         /* 약간 굵게 */
    border-radius: 9999px;    /* pill 형태 유지 */
    white-space: nowrap;
    vertical-align: middle;
    line-height: 1.2;         /* 위아래 여백 안정화 */
}