/* 데스크탑 사이드바 고정 */
@media (min-width: 1200px) {
    main {
        margin-left: 274px;
    }
}
.sidenav {
    z-index: 990;
}

#sidenav-main,
#sidebarMenu,
.sidenav {
    overflow: hidden !important;   /* 스크롤 완전 비활성화 */
}

.navbar-vertical.navbar-expand-xs.fixed-start {
    left: 0;
}

.navbar-vertical.navbar-expand-xs {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 15.625rem !important;
    overflow-y: auto;
    padding: 0;
    box-shadow: none;
    z-index: 1;
}
.nav-pills,
.nav-link {
    color: #14a7b9;
    margin-left: 16px;
    margin-right: 16px;
}
.nav-pills:hover{
    color: #14a7b9!important;
}
.nav-link.active:hover{
    color: #14a7b9;
    background-color: var(--color-light-main);
}
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #14a7b9!important;
}

.sidenav-header {
    height: auto; /* 자동으로 컨텐츠에 맞게 */
    padding: 1.5rem 2rem; /* 필요하면 조정 */
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
}
