#noticeDetail > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.write-info-small {
    display: flex;
    gap: 1rem;
    color: var(--color-gray);
    position: relative;
    justify-content: center;
}
.write-info {
    border-bottom: var(--border-black);
    text-align: center;
    padding: 2rem 0;
}
.write-info h4 {
    margin-top: 0;
}

#noticeDetail .btn-main {
    margin: 0 auto;
}
#noticeDetail .content-area {
    border-bottom: var(--border-black);
    padding: 5rem 1.5rem;
}
#notice td {
    cursor: pointer;
}
#notice tr:last-child {
    border-bottom: 1px solid #e5e5e5;
}