/* ==============================
   📢 Notice Detail (공지사항 상세)
   ============================== */

#noticeDetail > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.write-info-small {
    display: flex;
    gap: 1rem;
    color: var(--color-gray);
    position: relative;
}
.write-info {
    border-top: var(--border-black);
    border-bottom: var(--border-black);
}
.content-area{
    padding: 5rem 0;
}